/* Reset some default styles to achieve consistent rendering across different browsers */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Apply some basic styling to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    
}

/* Center the content vertically and horizontally */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Style the application title */
.app-title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style the links */
.links a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #007bff;
    margin-bottom: 10px;
}

.links a:hover {
    text-decoration: underline;
}
